src/main/resources/card.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://app.ent/webservice"
           targetNamespace="http://app.ent/webservice" elementFormDefault="qualified">

    <xs:element name="getCardChargeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="number" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getCardChargeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="response" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>